<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="faction != null and faction != ''">
                and faction = #{faction}
            </if>
        </where>
    </select>
    <select id="page" resultType="com.itheima.pojo.User">
        select * from user
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="faction != null and faction != ''">
                and faction = #{faction}
            </if>
        </where>
        limit #{offset},#{pageSize}
    </select>
</mapper>