<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.UserMapper">


    <insert id="userRole">
        insert into user_role(user_id,user_role) values (#{userId},
        <foreach collection="roleIds" item="rid" separator=",">
            (#{userId}, #{rid})
        </foreach>
           )
    </insert>
</mapper>